.container {
  font: Georgia,serif;
  background: #df5b57;
  text-align: center;
  padding: 20px;
}

text {
  color: white;
  font: 10px Georgia,serif;
  text-anchor: middle;
}

.node:hover {
    fill: white;
}
