#container {
	text-align: center;
	padding: 50px;
	width: 85vw;
}


body{
	font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
   	background: black;	
  	
	color: white;	
}

text{
	fill: white;
}

rect{
	/*opacity: 0.5;*/
}

.topaint{
		background-color: rgba(204,204,200,0.3);         	 
    	padding: 30px;
}

