#container {
	text-align: center;
	padding: 100px;
}


body{
	font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
   	background-color: #000000;
	color: white;	
}

text{
	fill: white;
}

rect{
	/*opacity: 0.5;*/
}

svg {
	width: 80vw;
}