
body {
  background-color: #191919 ;
  font-family: 'Lato', 'Open Sans', 'Helvetica Neue', 'Helvetica';
 
}


.donutcontainer{
	text-align: center;
  	padding: 100px;
}

h1 {
  color: black;
}


.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
  fill: white;
}

.arc path {
  stroke: #fff;
}

.arc {
	transition: all 500ms ease;
}