body {
  background-color: #191919 ;
  font-family: 'Lato', 'Open Sans', 'Helvetica Neue', 'Helvetica';
 
}

h1 {
  color: white;
  opacity: 0.8;
}

.container {
	text-align: center;
	padding: 30px;
	font-family: 'Lato', 'Open Sans', 'Helvetica Neue', 'Helvetica';
	color: #6C7B8B;
	width: 50vw;
}

rect {
	transition: all 500ms ease;
}